:root {
    --link-color: #2196F3;
}

:root {
    --button-color: #212121;
}

:root{
    --contact-color: #757575;
}

.button:hover,
.button:focus {
    color: var(--button-color);
}

.button1:hover {
    color: #ffffff;
}

.link:hover,
.link:focus {
    color: var(--link-color);
}

.contact:hover,
.contact:focus {
    color: var(--contacts-color);
}

body{
    font-family: Roboto, Raleway;
    color: #212121;
}

.logo:hover,
.logo:focus
{
    color: var(--link-color);
}

.logo
{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.navigation
{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.contacts{
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: var(contact-color);
}