:root {
    --link-color: #2196F3;
}

:root {
    --button-color: #212121;
}

:root {
    --button1-color: #ffffff;
}

:root{
    --contactshover-color: green;
}

:root {
    --contact1-color: #757575;
}
:root {
    --contact2-color: rgba(255, 255, 255, 0.6);
}

.button:hover,
.button:focus {
    color: var(--button-color);
    cursor: pointer;
}

.button1:hover {
    color: var(--button1-color);
    cursor: pointer;
}

.link:hover,
.link:focus {
    color: var(--link-color);
}

.link2:hover,
.link2:focus {
    color: var(--link-color);
}

.link2
{
    color: var(--link-color)
}

body {
    font-family: Roboto, Raleway, sans-serif;
    color: #212121;
}

.logo:hover,
.logo:focus {
    color: var(--link-color);
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923em;
    font-family: Raleway;
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428em;
}

.contacts1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428em;
}

.contact:hover,
.contact:focus {
    color: var(--contactshover-color);
}

.contact {
    color: var(--contact1-color)
}

.contacts1 > .contact-1 {
    color: var(--link-color)
}

.contact-1:hover,
.contact-1:focus {
    color: var(--contactshover-color);
}

.contacts2 {
    line-height: 1.7142em;
    font-size: 14px;
    font-weight: 400;
}

.contact-2 {
    color: var(--contact2-color);
}

.contact-2:hover,
.contact-2:focus {
    color: var(--contactshover-color);
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
}

.signedphotos h2 {
    font-size: 18px;
    line-height: 2em;
    font-weight: 700;
}

.signedphotos span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875em;
}

address {
    line-height: 1.7142em;
    font-size: 14px;
    font-weight: 400;
}

.index-h1
{
        font-weight: 700;
        font-size: 44px;
        line-height: 1.522em;
    }

        .index-h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.166em;
        }


.index-h3
{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.1428em;
}

.index-h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875em;
            color: var(--contact1-color);
}

.index-b
{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.1875em;
        color:var(--button-color);
}

.index-span
{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.7142em;
}